/* HTML selector rules */

ul {
  list-style: none;
}

li {
  margin: 10px 0px;
}

.quick_links li {
  margin-left: -20px;
}

h3 {
  margin: 10px 0;
}

form {
  margin: 10px 0;
}

/* Class rules */
.background-white {
  background-color: white;
  border-radius: 5px;
  margin: 20px;
  padding: 15px;
}

.footer {
  color: white;
  padding: 20px;
  text-align: end;
  margin-top: 20px;
}

.indent {
  margin-left: 100px;
}

.btn-primary {
  background-color: rgb(1, 179, 1);
  border:none;
}

.btn-primary:hover{
  background-color: rgb(31, 197, 31);
  border:none;
}

/* General rules */
.container .navbar-brand img{
  width: 250px;
}
