/*
  Author: Justin Clayton
*/

/* HTML selector rules */
table {  
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  border-collapse: 
  collapse; border-spacing: 0; 
  margin-bottom: 20px;
}

td, th {  
  border: 1px solid transparent;
  height: 30px; 
  text-align: center;
}

th {  
  background: #DFDFDF;
  font-weight: bold;
}

td {  
  background: #FAFAFA;
  text-align: center;
}

tr:nth-child(even) td { background: #F1F1F1; }   

tr:nth-child(odd) td { background: #fffca8; }

ul {
  list-style: none;
}

li {
  margin: 10px 0;
}

h3 {
  margin: 10px 0;
}

form {
  margin: 10px 0;
}

/* Class rules */
.background-white {
  background-color: white;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}

.footer {
  color: white;
  padding: 20px;
  text-align: end;
  margin-top: 20px;
}

.indent {
  margin-left: 100px;
}

/* ID rules */

