<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-bright">
            <a href="" class="navbar-brand"><img src="{% static 'users/img/logo.png' %}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navlinks" aria-controls="navlinks" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navlinks">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="{% url 'app:accounts' %}" class="nav-link">Accounts</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Investments</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/create_account" class="nav-link">Create an Account</a>
                    </li>
                </ul>
                <span class="navbar-text">Welcome, <a href="/edit_profile">{{ request.user.first_name }}</a></span>
                <a href="{% url 'users:logout' %}" class="nav-link">Log Out</a>
            </div>
        </nav>

        <div class="row justify-content-center">
            <div class="col-lg-8 background-white">
                <div class="col-8">
                    <h3>Create New Account</h3>
                </div>
                <div class="col-sm-6">
                    <form action="/create_account" method="POST">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="account_name" class="col-sm-4">Account Type:</label>
                            <select name="account_name" class="custom-select col-sm-8">
                                <option selected>-Choose a Type-</option>
                                {% for account_type in request.account_types.all %}
                                    <option>{{account_type.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="balance" class="col-sm-4">Start Balance:</label>
                            <input type="number" class="form-control col-sm-8" value="0.00">
                        </div>
                        <button type="submit" class="btn btn-primary offset-4">Create</button>
                    </form>
                </div>
            </div>

            <div class="col-lg-3 background-white">
                <h3>Quick Links</h3>
                <ul class="quick_links">
                    <li><a href="{% url 'app:purchase' %}">&#187; Log a Purchase</a></li>
                    <li><a href="{% url 'app:transfer' %}">&#187; Make a Transfer</a></li>
                    <li><a href="{% url 'app:bill' %}">&#187; Pay a Bill</a></li>
                    <li><a href="{% url 'app:contacts' %}">&#187; External Transfer</a></li>
                    <li><a href="{% url 'app:atm' %}">&#187; ATM Transaction</a></li>
                </ul>
            </div>
        </div>
        
        <div class="footer">
            <p>This project created by: Justin Clayton, Daniel Matthew, Dustin Crawford</p>
        </div>
</div>
</body>
</html>
