<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-bright">
            <a href="" class="navbar-brand"><img src="{% static 'users/img/logo.png' %}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navlinks" aria-controls="navlinks" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navlinks">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a href="/" class="nav-link">Accounts</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Investments</a>
                    </li>
                    <li class="nav-item">
                        <a href="/create_account" class="nav-link">Create an Account</a>
                    </li>
                </ul>
                <span class="navbar-text">Welcome, <a href="/edit_profile">{{ request.user.first_name }}</a></span>
                <a href="{% url 'users:logout' %}" class="nav-link">Log Out</a>
            </div>
        </nav>

        <div class="row justify-content-center">
            <div class="col-lg-8 background-white">
                <div class="col-sm-6">
                    <h3>Edit Profile</h3>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="first_name" class="col-sm-4">First Name</label>
                            <input type="text" name="first_name" id="first_name" value="{{request.user.first_name}}" class="form-control col-sm-8">
                        </div>
                        <div class="form-group row">
                            <label for="last_name" class="col-sm-4">Last Name</label>
                            <input type="text" name="last_name" id="last_name" value="{{request.user.last_name}}" class="form-control col-sm-8">
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-sm-4">Email</label>
                            <input type="text" name="email" id="email" value="{{request.user.email}}" class="form-control col-sm-8">
                        </div>
                        <button type="submit" class="btn btn-primary offset-4">Update Profile</button>
                    </form>

                    <h3>Change Password</h3>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="old_password" class="col-sm-4">Old Password</label>
                            <input type="password" name="old_password" id="old_password" class="form-control col-sm-8">
                        </div>
                        <div class="form-group row">
                            <label for="new_password" class="col-sm-4">New Password</label>
                            <input type="password" name="new_password" id="new_password" class="form-control col-sm-8">
                        </div>
                        <div class="form-group row">
                            <label for="confirm_password" class="col-sm-4">Confirm Password</label>
                            <input type="password" name="confirm_password" id="confirm_password" class="form-control col-sm-8">
                        </div>
                        <button type="submit" class="btn btn-primary offset-4">Change Password</button>
                    </form>
                </div>
            </div>

            <div class="col-lg-3 background-white">
                <h3>Quick Links</h3>
                <ul class="quick_links">
                    <li><a href="/purchase">&#187; Log a Purchase</a></li>
                    <li><a href="/transfer">&#187; Make a Transfer</a></li>
                    <li><a href="/bill">&#187; Pay a Bill</a></li>
                    <li><a href="/external-transfer">&#187; External Transfer</a></li>
                    <li><a href="/atm">&#187; ATM Transaction</a></li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <p>This project created by: Justin Clayton, Daniel Matthew, Dustin Crawford</p>
        </div>
</div>
</body>
</html>
